html, body{
  height:100%;
}

.admin-welcome{
  background-color:#003C2D;
;
  padding:30px 0;
  color:white;
}
.card-title{
  background-color:#003C2D;
  padding:3px 15px;
  height:25px;
  color:white;
  text-align:right;
  box-sizing:content-box;
}

.card-body{
  display:table;
  height:120px;
  width:100%;
  padding:10px 15px;
  box-sizing:border-box;
  background:white;
  color:black;
}

.card-body div{
  display:table-cell;
}
.card-desc{
  width:75%;
  padding:0 0 0 10px;
  vertical-align:top;
  text-align:right;
  color:#092820;
}

.card-img{
  width:25%;
}
.card-img span{
  font-size:52px;
  color:#003C2D;
}

.card.open{
  background: darkred;
}

.details {
  height: 100px;
  background: #A0C3A0;
  width: 100%;
}
